/* .left_navbar_item
{
    transition: 1s all;   
    /* color: blue !important; */
 /* */ 
/* } */
/* .left_navbar_item */
/* { */
    /* transition:all 20s; */
    /* background-color: blue; */
/* } */
/* .left_navbar_item:hover */
/* { */
    /* background-color: red; */
    /* transform: `; */
/* } */
/* .left_navbar_item:hover
{
    border-bottom: 1px solid white;
    transition-delay: 1s;
} */
